#bars-list{
    
}
#list-label{
    text-align: center;
    border: 0px !important
}
.bar-item{
    text-align: center;
    border-radius: 6px !important;
    
}
.main-list{
    display: flex;
    width: 100vw;
}
#map { height: 180px; }